<html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
  <body>
<form class="form-horizontal">
<fieldset>
<br><br>
<!-- Form Name -->
<center><legend>ADD PACKAGE</legend></center>
  <form method="post" enctype="multipart/form-data">

<br><br>
<!-- Text input-->
<div class="form-group">

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">NAME OF THE PACKAGE</label>
  <div class="col-md-4">
  <input id="name" name="name" placeholder="NAME OF THE PACKAGE" class="form-control input-md" required="" type="text">

  </div>
</div>


<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" for="description">DESCRIPTION</label>
  <div class="col-md-4">
    <textarea class="form-control" id="description" name="description" placeholder="DESCRIPTION ABOUT THE PACKAGE"></textarea>
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ptype">PACKAGE CATEGORY</label>
  <div class="col-md-4">
  <input id="ptype" name="ptype" placeholder="PACKAGE CATEGORY" class="form-control input-md" required="" type="text">

  </div>
</div>


<!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="photo1">PHOTOS RELATED TO THE PACKAGE</label>
  <div class="col-md-4">
    <input id="photo1" name="photo1" class="input-file" type="file">
  </div>
</div>
<!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="photo2">PHOTOS RELATED TO THE PACKAGE</label>
  <div class="col-md-4">
    <input id="photo2" name="photo2" class="input-file" type="file">
  </div>
</div>
  <!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="photo3">PHOTOS RELATED TO THE PACKAGE</label>
  <div class="col-md-4">
    <input id="photo3" name="photo3" class="input-file" type="file">
  </div>
</div>
  <div class="form-group">
  <label class="col-md-4 control-label" for="photo4">PHOTOS RELATED TO THE PACKAGE</label>
  <div class="col-md-4">
    <input id="photo4" name="photo4" class="input-file" type="file">
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">SAVE</button>
  </div>
  </div>

</fieldset>
</form>
</body>
</head>
</html>
