<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TravelTogether</title>
</head>
<body>
<h1>Hello, Welcome To TravelTogether</h1>
<h3>Things needed</h3>
<a href="/login">Login</a><br>
<a href="/agentregis">Agent Registration</a><br>
<a href="regis">Customer Registration</a><br>
<a href="/listofagents">List Of Agents</a><br>
<a href="/listofusers">List Of Users</a><br>
<a href="/viewresponsefromuser">View Response From User</a><br>
<a href="/requestforagent">Request This Agent</a><br>
<a href="/status">  Ststus</a><br>
<a href="/">Logout</a>
</body>
</html>