<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
<style>
        #customers {font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;width: 70%;}
        #customers td, #customers th { border: 1px solid #ddd;padding: 8px;}
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        #customers tr:hover {background-color: #ddd;}
        #customers th { padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #04AA6D;color: heveltika;}
</style>

</head>

{% block content %}

<h1><center>LIST OF USERS</center></h1>
<table border="2" id="customers">
    <tr>
      <td>AGENT NAME</td>
      <td>AGENT ID</td>
      <td>PACKAGE NAME</td>
      <td>AREA</td>
      <td>DESCRIPTION</td>
      <td>PACKAGE TYPE</td>
      <td>View Photos</td>
    </tr>
    {% for i in a %}
    <tr>
        <td>{{i.aname}}</td>
        <td>{{i.aid}}</td>
        <td>{{i.name}}</td>
        <td>{{i.description}}</td>
        <td>{{i.ptype}}</td>
        <td><a href="/photos">Photos</a> </td>
    </tr>
    {% endfor %}
</table>
</body>


{% endblock content %}
</html>