<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
<h3>POST NEW PACKAGE</h3>


    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="area" placeholder="area"><br>
    <input type="text" name="description" placeholder="description"><br>
    <input type="text" name="ptype" placeholder="ptype"><br>
    <input type="file" name="photo1" placeholder="photo1"><br>
    <input type="file" name="photo2" placeholder="photo2"><br>
<input type="file" name="photo3" placeholder="photo3">
    <br><input type="file" name="photo4" placeholder="photo4"><br>
        <input type="submit" name="SUBMIT">
    </table>
</form>
</body>
</html>